@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  weight: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkid-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h1,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

html,
body {
  font-family: Open Sans;
  height: 100%;
  color: #000;
  font-size: 15px; }

/* Основные стили */
.wrapper {
  min-width: 100%;
  position: relative;
  overflow: hidden; }

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto; }

.header__list {
  background: -webkit-gradient(linear, left top, right top, from(#24432f), to(#72a384));
  background: -webkit-linear-gradient(left, #24432f 0%, #72a384 100%);
  background: -o-linear-gradient(left, #24432f 0%, #72a384 100%);
  background: linear-gradient(to right, #24432f 0%, #72a384 100%);
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header__list .container {
    min-width: 1140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .header__list li {
    list-style-type: none; }

.header__list a {
  padding: 10px 15px;
  font-family: Open Sans;
  text-decoration: none;
  color: #fff; }

.header__list a:hover {
  background-color: #fff;
  color: black; }

.header__img img {
  max-width: 100%; }

.header__img {
  border-bottom: 1px solid rgba(121, 115, 115, 0.5); }

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media (max-width: 550px) {
    .header__menu {
      display: none; } }
  @media (max-width: 782px) {
    .header__menu {
      margin-top: 15px; } }

.header__menu-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .header__menu-menu a {
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-size: 1.1em; }
    .header__menu-menu a span {
      position: relative;
      right: -3px;
      top: 13.5px;
      width: 0px;
      height: 0px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid black; }
  .header__menu-menu a:hover {
    color: #fff; }
    .header__menu-menu a:hover span {
      border-top: 4px solid white; }

.header__menu-form {
  padding: 15px 0; }
  @media (max-width: 782px) {
    .header__menu-form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.search-input {
  border: 1px solid #c7c5c5;
  min-height: 30px;
  width: 170px; }
  .search-input:focus {
    border: 1px solid #83d89d; }
  @media (max-width: 782px) {
    .search-input {
      width: 100%; } }

.search-input:focus {
  border: 1px solid #83d89d;
  -webkit-box-shadow: 0 0 10px rgba(131, 216, 157, 0.9);
  box-shadow: 0 0 10px rgba(131, 216, 157, 0.9); }

.search-btm {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 6px;
  min-height: 31px;
  background-color: #e9e7e7;
  text-decoration: none;
  font-size: 0.9em; }
  @media (max-width: 782px) {
    .search-btm {
      margin: 0 0 0 10px; } }

.menu-about {
  position: relative; }
  .menu-about:hover .sub-header__menu-menu {
    display: block; }

.header__menu-menu li:hover {
  background: #24432f; }

.header__menu-menu a:hover {
  background: #24432f; }

.sub-header__menu-menu {
  display: none;
  padding-top: 14px;
  position: absolute;
  z-index: 2;
  width: 500px; }
  .sub-header__menu-menu a {
    font-weight: 300; }
  .sub-header__menu-menu li {
    background-color: #d8e5dd;
    font-size: 1.1em;
    padding: 12px 15px; }

.menu-about:hover .sub-header__menu-menu {
  display: block; }

.header__menu-menu a:hover .sub-header__menu-menu {
  display: block; }

.header__menu-menu li:hover .sub-header__menu-menu {
  display: block; }

.article__breadcrumbs-list {
  max-width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-left: 10px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #f5f5f5; }
  .article__breadcrumbs-list li {
    color: #008cba;
    padding: 0 5px;
    font-size: 10px;
    font-weight: 300; }
    .article__breadcrumbs-list li a {
      color: #008cba;
      white-space: nowrap;
      text-align: center;
      overflow: hidden;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
    .article__breadcrumbs-list li a:hover {
      text-decoration: underline; }

.article__logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33%;
  flex: 0 1 33%;
  min-width: 346px;
  min-height: 488px; }
  .article__logo img {
    max-width: 100%; }

.article {
  margin-bottom: 70px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  -webkit-box-shadow: 4px 4px 5px -3px #e6e6e6;
  box-shadow: 4px 4px 5px -3px #e6e6e6; }
  @media (max-width: 790px) {
    .article {
      padding: 0px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  .article__title {
    padding: 20px 0;
    font-family: "Lora", serif;
    color: #770404;
    font-size: 27px;
    border-bottom: 1px solid #f5f3f3; }
  .article__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 30px; }
    @media (max-width: 683px) {
      .article__row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
  .article__column-bg {
    padding: 0 15px; }
  .article__subtitle {
    padding-bottom: 15px;
    text-decoration: none; }
    .article__subtitle a {
      font-size: 15px;
      line-height: 1.4;
      color: #008cba; }
      .article__subtitle a:hover {
        text-decoration: underline; }
  .article__autors {
    padding-bottom: 50px; }
    .article__autors p:first-child {
      padding-bottom: 15px; }
  .article__Resumen {
    font-size: 15px;
    line-height: 1.4;
    color: #222; }
    .article__Resumen .Resumen-bg {
      font-size: 21px;
      line-height: 1.1;
      padding-bottom: 15px; }

.article__date {
  height: 38px;
  font-size: 12px;
  border: 1px solid rgba(166, 166, 166, 0.5);
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.article__dwd {
  border: 1px solid rgba(166, 166, 166, 0.5);
  padding-bottom: 30px; }
  .article__dwd p {
    background: -webkit-gradient(linear, left top, left bottom, from(#feffff), to(#eaf3f7));
    background: -webkit-linear-gradient(top, #feffff 0%, #eaf3f7 100%);
    background: -o-linear-gradient(top, #feffff 0%, #eaf3f7 100%);
    background: linear-gradient(to bottom, #feffff 0%, #eaf3f7 100%);
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.4; }

.article__stats {
  padding-bottom: 30px; }

.dwd__btn {
  position: relative;
  bottom: -15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 0.7em;
  border: 1px solid #efefef;
  padding: 4px 12px;
  margin: 5px 0;
  border-radius: 2px;
  margin-left: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(47%, #f6f6f6), to(#ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%); }
  .dwd__btn a {
    color: #008cba;
    text-decoration: none; }

.footer {
  padding-top: 50px;
  background: #d8e5dd;
  min-height: 380px; }
  .footer__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__column {
    width: 370px; }
  .footer__title {
    font-weight: bold;
    padding-bottom: 30px; }
  .footer__text {
    padding: 0px 30px 5px 5px;
    text-align: justify;
    line-height: 1.4; }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    color: #008cba; }
  .footer__copyright {
    padding-top: 15px; }
  .footer__povered {
    color: #008cba;
    text-decoration: none;
    text-align: center;
    margin-top: 40px;
    line-height: 30px; }
